.root {
  position: relative;
  margin-right: 10px;
  min-width: 250px;
  .input {
    border: 1px, solid, rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 12px 40px;
    padding-right: 30px;
    width: 400px;
    @media (max-width: 950px) {
      width: 300px;
    }
    @media (max-width: 660px) {
      width: 240px;
    }
    @media (max-width: 580px) {
      width: 300px;
    }
  }

  .icon {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 15px;
    top: 15px;
  }

  .close {
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 18px;
    right: -10px;
    @media (min-width: 580px) and (max-width: 660px) {
      right: 0;
    }
  }
}
