.root {
  position: relative;
  margin-right: 10px;
  .input {
    border: 1px, solid, rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 12px 20px;
    padding-left: 45px;
  }

  .icon {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 15px;
    top: 15px;
  }

  .close {
    cursor: pointer;
  }
}
